#login{
    border:1px solid black;
    border-radius:20px 20px 20px 20px;
    padding-top:0.5rem;

    display:inline-block;

}
#login:hover{
    background-color: aqua;
}
.nav-item{
    margin-left: 1rem;;
}
#login a{
    text-decoration: none;
    padding-left: 2rem;
    padding-right:2rem;
    
}